/* Custom checkbox */
.checkboxContainer {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    color: #d1d5db; /* text-zinc-100 color */
  }
  
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d1d5db; /* text-zinc-100 color */
    border-radius: 4px;
  }
  
  .checkboxContainer input:checked ~ .checkmark {
    background-color: #4caf50; /* Green */
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkboxContainer .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }